# ignore all hiddens
.*

# but don't ignore the .gitignore
!.gitignore

# ignore all backup files
*~

# ignore node_modules folder
node_modules/

# ignore node_modules folder
audio/

# ignore .idea folder
.idea/
